<div class="product-list">
  <div class="product-card">
    <div class="image-container">
      <img [src]="product.image" alt="{{ product.name }} Image" class="product-image " >
      <div class="overlay" *ngIf="showOverlay">
        <p>Add To Cart</p>
      </div>
      <div class="card-body ps-3">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="price">
          <span class="current-price">${{ product.price }}</span>
          <span class="original-price">${{ product.originalPrice }}</span>
        </div>
        <div class="rating">
          <ng-container *ngFor="let star of getStars(product.rating)">
            <i class="fas fa-star" [class.filled]="star === true"></i>
          </ng-container>
          <span>({{ product.numberOfRatings }} ratings)</span>
        </div>
      </div>
    </div>
  </div>
</div>



