<div *ngIf="timerVisible" class="container flash-sales">
  <h2 class="sub-title">Today's</h2>
  <div class="timer-container">
    <div class="header">
      <h1>All products</h1>
      <div class="timer">
        <div class="timer-item">
          <span class="timer-label">Days</span>
          <span class="timer-value">{{ days }}</span>
        </div>
        <span class="timer-separator">:</span>
        <div class="timer-item">
          <span class="timer-label">Hours</span>
          <span class="timer-value">{{ hours }}</span>
        </div>
        <span class="timer-separator">:</span>
        <div class="timer-item">
          <span class="timer-label">Minutes</span>
          <span class="timer-value">{{ minutes }}</span>
        </div>
        <span class="timer-separator">:</span>
        <div class="timer-item">
          <span class="timer-label">Seconds</span>
          <span class="timer-value">{{ seconds }}</span>
        </div>
      </div>
      <!-- <div class="icon-container">
        <i class="fas fa-chevron-left icon left-icon" (click)="owlFlash.prev()"></i>
        <i class="fas fa-chevron-right icon right-icon" (click)="owlFlash.next()"></i>
      </div> -->
    </div>
  </div>
  <div class="product-carousel my-5">
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner my-5">
        <div class="row g-5  ">
          <ng-container *ngFor="let product of allProducts">
            <div class="col-lg-3 col-md-6 col-sm-12 my-5 ">
              <div class="product-card d-flex flex-column justify-content-between h-100 lh-lg ">
                <app-product-card [product]="product" [showOverlay]="true"> </app-product-card>
                <p class="category bg-success rounded text-white p-1   "> Category : {{product.category}} </p>
                <!-- <app-second-product-component [product]="product" [showOverlay]="true"></app-second-product-component> -->
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="showButton" (click)="scrollToTop()" class="scroll-to-top">
    ↑
  </button>
</div>
