.navbar{
  position: relative;
  width: 100%;
  transition: all .4s ease;
}
.sticky{
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background:#fff ;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.5);
  animation: scroll 3s  ease-out;


}
@keyframes scroll {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}

.fs-sm{
  font-size: .7rem;
}
a{
  color: #000;
}
header .head-of-header{
  height: 50px;
  background: #000;
}
header .head-of-header .mid-text p{
font-size: 12px;
}
.form-select:focus {
  border-color: #000000;
  outline: 0;
  box-shadow:none;
}
.input{
  position: relative;
  width: 250px;
}
.searchInp{
  width: 100%;
  padding: 8px 18px;
  outline: none;
  border: none;
  background: #F5F5F5;
  font-size: 14px;
}
.input i{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}
.fa-solid{
  cursor: pointer;
}
a.active{
  color: #000;
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
#offcanvasWithBothOptions{
  width: 320px;
}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.hover-user{
  padding: 8px 12px;
  background: #dc3545;
  border-radius: 50%;
  transition: all .3s linear;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  padding: 10px;
  top: 40px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
  min-width: 250px;
  z-index: 1;
  border-radius: 10px;
}

.offcanvas-title .dropdown-content {
  display: none;
  position: absolute;
  left: 5px;
  top: 31px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
  min-width: 250px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a,.links {
  color: black;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a:hover {
  border-bottom:2px solid #000;
transition: all .1s linear;}

.dropdown:hover .dropdown-content {display: block;}

.btn-close:focus{
  box-shadow: none;
}




@media (max-width:991px) {
  header .head-of-header .mid-text p,
  .final-text{
    font-size: 10px;
    }
    a.active{
      border: none;
      padding-left: 1rem;
    }
    a.nav-link:hover{
      padding-left: 1rem;
      transition: all .3s linear;
    }
    .icons{
      // display: flex;
      // flex-direction: column;
      // margin-top: 50px;;
      display: none;
    }
}
@media (max-width:540px) {
  header .head-of-header {
    display: none;
    }


}

