

<div class="signup-container m-5">
  <div class="row ">
    <div class="col-lg-7 d-none d-lg-block  ">
      <img class="image" src="/assets/images/Side Image.png" alt="">
    </div>
    <div class="col-lg-4 col-md-6   m-auto lh-lg">
      <h2 class="">Log in to Exclusive</h2>
      <p class="">Enter your details below</p>
      <form action=""  class="form-group"  #form="ngForm" (ngSubmit)="submit()">
        <div class="mt-5">
          <input type="email" name="email" id="email" class="form-control" [class.is-invalid]="email.errors"
          [class.is-valid]="!email.errors" placeholder="Email or Phone Number" required ngModel #email="ngModel"
          pattern='[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}'          >
        </div>
        <div class="lh-sm " *ngIf="email.touched&&email.invalid&&email.errors">
          <small class="text-danger " *ngIf="email.errors['required']"><span class="fs-5">*</span> this fieled is
            required</small>
          <small class="text-danger" *ngIf="email.errors['pattern']"><span class="fs-5">*</span> invalid email or phone number
            </small>
        </div>

        <div class="mt-5 password-div">
          <input [type]=" showPassword ? 'text' : 'password' " name="password" id="password" class="form-control" [class.is-invalid]="password.errors"
            [class.is-valid]="!password.errors" placeholder="Password" required ngModel #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <i [class]="showPassword ? 'far fa-eye ': 'far fa-eye-slash'"  (click)="togglePasswordVisibility()"></i>
          </div>
        <div class="lh-sm " *ngIf="password.touched&&password.invalid&&password.errors">
          <small class="text-danger " *ngIf="password.errors['required']"><span class="fs-5">*</span> this fieled is
            required</small>
          <small class="text-danger" *ngIf="password.errors['pattern']"><span class="fs-5">*</span>
            Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more</small>
        </div>
        <div class="mt-5 d-flex justify-content-between align-items-center  ">
          <button type="submit" class="btn btn-danger"  [disabled]="form.invalid" > Log In</button>
          <a routerLink="/forgetPassword" class="text-danger fp-link" >Forget Password?</a>
        </div>

      </form>
    </div>
  </div>
</div>


