<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in </title>
</head>

<body>
  <div class="con">
    <div class="image">
      
    </div>
    <div class="form">
      <div class="text mb-4">
        <h1>
          Create an account
        </h1>
        <p>
          Enter your details below
        </p>
      </div>
      <div class="container ">

        <input type="text" class="form-control border-bottom-only" id="name" placeholder="Name" required>

        <input type="email" class="form-control border-bottom-only mt-3 mb-3" id="mail" placeholder="Enter Email" required>

        <input type="password" class="form-control border-bottom-only mb-3" id="pass" placeholder="Enter Password" required>
        <div class="buttons ">
          <button class="btn btn-primary btn-block mt-3 btn-lg mb-3" routerLink="/Login">Create Account</button>
          <button class="btn google-btn btn-block  btn-lg" >
            <i class="fab fa-google mr-2"></i><a href="https://www.gmail.com" class="text-white"> Sign Up with Google</a>
          </button>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
  </div>
</body>

</html>
