*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #fff;
  color: #000;
}
.icons {
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 4px;
}
.img{
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.product-card {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    transition: 0.5s;
}

.product-card img {
  width: 120;
  height: 120px;
  width: auto;
}


.icons i {
  font-size: 20px;
  display: none;
  text-align: center;
}

.product-card h5 {
  font-weight: bold;
  margin-top: 10px;
}

.product-card button {
  margin-top: 10px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff4c4c;
  width: auto;
  text-align: center;
}

.pole {
  width: 10px;
  height: 30px;
  background-color: #ff4c4c;
  margin-right: 2px;
}

.title {
  display: flex;
align-items: center;
 
gap: 2px;
flex-direction: row;
  width: 100%;
}

.btn-danger {
  background-color: #ff4c4c;
  border: none;
  padding: 10px 20px;
  color: #fff;
}

#addcart {
  width: 100%;
  height: 40px;
  padding: auto;
  display: none;
}
img:hover #addcart {
  display: inline-block;
}
.product-card:hover{
box-shadow: 8px 10px 6px 6px rgba(0, 0, 0, 0.1);
.icons i{
  display: block;
}
p {
  display: none;
}
#addcart{
  display: block;
}
}
