// _variables.scss

:root {
  --main-color: #db4444;
  --secondary-color: gray;
  --primary-button-color: #db4444;
  --secondary-button-color: #00ff66;
  --stars-color: #ffad33;
  --hover-primary-button-color: #e07575;

  /* Font Sizes */
  --base-font-size: 16px;
  --heading-font-size: 16px;
  --small-font-size: 12px;

  /* Spacing */
  --spacing-unit: 16px;
  --small-spacing: 8px;
  --large-spacing: 24px;
}
