<div  class="container ">
  <h2 class="sub-title">Today's</h2>
      <h1>Men's Fashion</h1>
        <div class="row g-3  ">
          <ng-container *ngFor="let product of allProducts">
            <div class="col-lg-4 col-md-6 col-sm-12 my-5 ">
              <div class="product-card d-flex flex-column justify-content-between h-100 lh-lg ">
                <app-product-card [product]="product" [showOverlay]="true"> </app-product-card>
                <p class="category bg-success rounded text-white p-1 ms-3 "> Category : {{product.category}} </p>
              </div>
            </div>
          </ng-container>
        </div>
  <button *ngIf="showButton" (click)="scrollToTop()" class="scroll-to-top">
    ↑
  </button>
</div>
