<footer  class="footer-container mt-5 d-flex flex-column justify-content-center align-items-center">
  <div class="container  text-white ">
    <div class="row g-3  ">
      <div class="section  col-lg-3  col-md-4 border-md-bottom ">
        <h2 class=" pb-2 fw-bold">Exclusive</h2>
        <a routerLink="/register" class="d-block text-decoration-none text-white"><p>Subscribe</p></a>
        <p class="">Get 10% off your first order</p>
        <div class="inp">
          <input type="email" class=" p-2 rounded bg-transparent text-white" name="email" id="email" placeholder="Enter your email">
          <i class="fa-solid fa-paper-plane"></i>
        </div>
      </div>
      <div class="section col-lg-2 col-md-4  ">
        <h4 class=" pb-2 fw-semibold">Support</h4>
        <p class="adress">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="email">{{email}} </p>
        <p> +88015-88888-9999</p>
      </div>
      <div class="section col-lg-2 col-md-4  ">
        <h4 class="fw-semibold pb-2">Account</h4>
        <a routerLink="/myaccount" class="d-block text-decoration-none text-white"><p class="">My Account</p></a>
        <a routerLink="/login" class="d-block text-decoration-none text-white"><p class="">Login / Register</p></a>
        <a routerLink="/cart" class="d-block text-decoration-none text-white"><p class="">Cart</p></a>
        <a routerLink="/wishlist" class="d-block text-decoration-none text-white"><p class="">Wishlist</p></a>
        <a routerLink="/product" class="d-block text-decoration-none text-white"><p class="">Shop</p></a>
      </div>
      <div class="section col-lg-2 col-md-6  ">
        <h4 class=" pb-2 fw-semibold">Quick Link</h4>
        <a href="/#" class="d-block text-decoration-none text-white"><p class="">Privacy Policy</p></a>
        <a href="/#" class="d-block text-decoration-none text-white"><p class="">Terms Of Use</p></a>
       <a href="#" class="d-block text-decoration-none text-white"> <p>FAQ</p></a>
        <a routerLink="/contact" class="d-block text-decoration-none text-white"><p>Contact</p></a>
      </div>
      <div class="section last-section col-lg-3 col-md-6 ">
        <h4 class="fw-semibold pb-2">Download App</h4>
        <p>Save $3 with App New User Only</p>
        <div class="d-flex justify-content-start align-items-center gap-1">
          <div class="qr-code bg-dark  ">
            <img src="assets/images/Qr Code.png" alt="QrCode">
          </div>
          <div class="store d-flex flex-column justify-content-center align-items-center">
            <img src="assets/images/download-appstore.png" alt="">
            <img src="assets/images/google-play-store.png" alt="google Store">
          </div>
        </div>
        <div class="social-icons d-flex justify-content-start align-items-center gap-4 pt-3">
          <a class="text-decoration-none d-block text-white "   href="https://www.facebook.com"><i class="fa-brands fa-facebook fs-5"></i></a>
          <a class="text-decoration-none d-block text-white "   href="https://www.x.com"><i class="fa-brands fa-twitter fs-5"></i></a>
          <a class="text-decoration-none d-block text-white "   href="https://www.instagram.com"><i class="fa-brands fa-instagram fs-5"></i></a>
          <a  class="text-decoration-none d-block text-white "  href="https://www.linkedin.com"><i class="fa-brands fa-linkedin fs-5"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="coulmn my-5">
    &copy;Copyright Rimel 2022. All right reserved
  </div>
</footer>

