<!-- <footer  class="footer-container d-flex flex-column justify-content-center align-items-center">
  <div class="container bg-warning d-flex flex-column  align-items-center text-white ">
    <div class="row gy-2 w-100 ">
      <div class="col-lg-3 col-md-6  bg-danger">
        <h2 class="">Exclusive</h2>
        <p class="">Subscribe</p>
        <p class="">Get 10% off your first order</p>
        <input type="email" name="email" id="email" placeholder="Enter your email">
      </div>
      <div class="col-lg-3 col-md-6 bg-danger">
        <p class="">Support</p>
        <p class="">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="">{{email}} </p>
      </div>
      <div class="col-lg-1 col-md-4 bg-danger">
        <p class="">Support</p>
        <p class="">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="">{{email}} </p>
      </div>
      <div class="col-lg-1 col-md-4 bg-danger">
        <p class="">Support</p>
        <p class="">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="">{{email}} </p>
      </div>
      <div class="col-lg-3 col-md-6 bg-danger">
        <p class="">Support</p>
        <p class="">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="">{{email}} </p>
      </div>
    </div>
    <div class="coulmn">
      &copy;Copyright Rimel 2022. All right reserved
    </div>
  </div>
</footer>
 -->
