<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in </title>
</head>

<body>
    <div class="con">
        <div class="image">
            <img src="https://img.freepik.com/premium-photo/empty-black-smartphone-with-cart-bags-light-background-online-shopping-purchase-concept-mock-up-3d-rendering_670147-9890.jpg?w=826"
                alt="not found">
        </div>
        <div class="form">
            <div class="text mb-4">
                <h1>
                    Log in top Exclusive
                </h1>
                <p>
                    Enter your details below
                </p>
            </div>
            <div class="container ">



                <input type="email" class="form-control border-bottom-only mt-3 mb-3" id="mail"
                    placeholder="Enter Email">

                <input type="password" class="form-control border-bottom-only mb-2" id="pass"
                    placeholder="Enter Password">
                <div class="d-flex justify-content-between align-items-center">

                    <div class="form-check mb-0 ">
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" class="btn btn-primary btn-lg log"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                                in</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                    href="../sign-up/sign-up.component.html">Register</a></p>
                        </div>
                    </div>
                    <a href="#!" class=" link">Forgot password?</a>
                </div>


            </div>
        </div>



    </div>



</body>

</html>