<div class="container">
  <div class="d-flex  align-items-center gap-2 my-5">
    <a routerLink="/home" class="text-secondary">Home /</a>
    <a routerLink="/**" class="fw-bolder text-dark">404 Error </a>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center gap-4 text-center ">
    <h1 class="mt-5">404 Not Found</h1>
    <p class="mb-5">Your visited page not found. You may go home page.</p>
    <button class="btn px-5 p-3 mb-5 " (click)="goto()">Back to home page</button>
  </div>
</div>