<div class="row cc">
  <div class=" parent-links col-lg-3 col-0  ps-0 pe-3 pt-4 border-right ">
    <div class="sub-links">
      <a routerLink="/Woman’sFashion" class=" d-flex justify-content-between align-items-center">
        <p class="">Woman’s Fashion</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Men’s Fashion</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Electronics</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Home & Lifestyle</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Medicine</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Sports & Outdoor</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Baby’s & Toys</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Groceries & Pets</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
      <a routerLink="/" class=" d-flex justify-content-between align-items-center">
        <p class="">Health & Beauty</p>
        <p> <i class="fa-solid fa-angle-right"></i> </p>
      </a>
    </div>
  </div>
  <div class="col-lg-9 col-12    ps-lg-5 pt-5">
    <div class="dark-hero row h-100">
      <div class="carousel-btn-left  ">
        <i class="fa-solid fa-circle carousel-control-perv " data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"></i>
        <i class="fa-solid fa-circle carousel-control-perv " data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"></i>
        <i class="fa-solid fa-circle carousel-control-perv " data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"></i>
        <i class="fa-solid fa-circle carousel-control-perv " data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"></i>
        <i class="fa-solid fa-circle carousel-control-perv " data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"></i>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-0 desc order-last  order-md-fisrt"> <!--d-none d-md-block -->
        <div class="p-md-5  pe-0 parent-of-diss lh-lg">
          <div class="head-of-dis d-flex justify-content-md-start gap-3 align-items-center ">
            <i class="fa-brands fa-apple fs-1"></i>
            <span> iPhone 14 Series </span>
          </div>
          <div class="mid-of-dis  ">
            <h1 class="fw-bold">Up to 10% off Voucher</h1>
          </div>
          <div class="foot-of-dis mt-3 ">
            <a class="icon-link icon-link-hover text-white   border-bottom  text-decoration-none" routerLink="/product">
              Shop Now <i class="bi fa-solid fa-arrow-right ps-1"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12 carousel-parent order-fisrt  order-md-last">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-inner">
            <div class="carousel-item  active " data-bs-interval="10000">
              <img src="/assets/images/hero.jpg" class="d-block w-100   " alt="photo">
            </div>
            <div class="carousel-item  " data-bs-interval="20000">
              <img
                src="https://img.freepik.com/premium-photo/variety-lenses-your-phone-allegorical-illustration-variety-popularity-mobile-photography-technology_407240-1390.jpg?ga=GA1.1.508687790.1726598164&semt=ais_hybrid"
                class="d-block w-100   " alt="photo">
            </div>
            <div class="carousel-item " data-bs-interval="30000">
              <img
                src="https://img.freepik.com/premium-photo/phone-top-view-with-white-screen-concrete-table-hard-light-shadows_150455-1148.jpg?ga=GA1.1.508687790.1726598164&semt=ais_hybrid"
                class="d-block w-100   " alt="photo">
            </div>

            <div class="carousel-item  " data-bs-interval="40000">
              <img
                src="https://img.freepik.com/premium-photo/mockup-photo-mobile-phone_34048-1746.jpg?ga=GA1.1.508687790.1726598164&semt=ais_hybrid"
                class="d-block w-100   " alt="photo">
            </div>

            <div class="carousel-item  " data-bs-interval="50000">
              <img src="https://www.optionstheedge.com/sites/default/files/field/featured-image/2020/iphone_12.jpg"
                class="d-block w-100   " alt="photo">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>