<div class="New-Arrival">

  <div class="container ">
    <div class="title">
      <h2 class="sub-title">Featured</h2>
    </div> <!-- titel -->
    <div class="header">
      <h1>New Arrival</h1>
      <br>
      <br>

    </div> <!-- header -->





    <div class="container text-center ">
      <div class="col-12">

        <div class="images d-flex flex-wrap justify-content-between gap-1">


          <div class="col-lg-5 col-md-12">




            <div class="image-container">
              <img src="assets\images\playstationwhiteblack.png" alt="">
              <div class="overlay">
                <h2 style="font-weight:600; color:white">
                  PlayStation 5
                </h2>
                <p>
                  Black and White version of the PS5 <br> coming out on sale.
                </p>
                <a href="">Shop Now</a>
              </div> <!-- text  -->
            </div> <!-- image -->

          </div> <!-- col-6 -->

          <div class="col-lg-6 col-md-12">

            <div class="right d-flex flex-column">

              <div class="line_one">

                <div class="image-container w-100">
                  <img src="assets\images\wallpaperflare.com_wallpaperw.jpg" alt="">
                  <div class="overlay">
                    <h2 style="font-weight:600; color:white">
                      Collections
                    </h2>
                    <p>
                      Featured collections that <br> give you another vibe.
                    </p>
                    <a href="">Shop Now</a>
                  </div> <!-- text  -->
                </div> <!-- image -->
              </div><!-- line_one -->
              <br>

              <div class="line_two d-flex justify-content-between flex-wrap ">


                <div class="col-6">
                  <div class="image-container ">
                    <img src="assets\images\speaker.png" alt="">
                    <div class="overlay">
                      <h2 style="font-weight:600; color:white">
                        Speakers
                      </h2>
                      <p>
                        Amazon wireless speakers
                      </p>
                      <a href="">Shop Now</a>
                    </div> <!-- text  -->
                  </div> <!-- image -->
                </div>


                <div class="col-6">
                  <div class="image-container ">
                    <img src="assets\images\Perfume.png" alt="">
                    <div class="overlay">
                      <h2 style="font-weight:600; color:white">
                        Perfume
                      </h2>
                      <p>
                        GUCCI INTENSE OUD EDP
                      </p>
                      <a href="">Shop Now</a>
                    </div> <!-- text  -->
                  </div> <!-- image -->
                </div>


              </div><!-- line_two -->



            </div> <!-- right -->

          </div> <!-- col-lg-6 -->


        </div> <!-- images -->



      </div> <!-- col-12 -->


      <br>
      <br>
      <br>

      <div class="col-12 ">

        <div class="icons d-flex flex-wrap justify-content-between align-items-center gap-1">




          <div class="icon d-flex flex-column gap-3">
            <div class="icon-img ">
              <img src="assets\images\Services (4).png" alt="">
            </div><!-- img -->
            <div class="text">
              <h2>
                FREE AND FAST DELIVERY
              </h2>
              <p>
                Free delivery for all orders over $140
              </p>
            </div><!-- text -->
          </div><!-- icon -->

          <div class="icon d-flex flex-column gap-3">
            <div class="icon-img ">
              <img src="assets\images\Services (5).png" alt="">
            </div><!-- img -->
            <div class="text">
              <h2>
                24/7 CUSTOMER SERVICE
              </h2>
              <p>
                Friendly 24/7 customer support
              </p>
            </div><!-- text -->
          </div><!-- icon -->



          <div class="icon d-flex flex-column gap-3">
            <div class="icon-img ">
              <img src="assets\images\Services (6).png" alt="">
            </div><!-- img -->
            <div class="text">
              <h2>
                MONEY BACK GUARANTEE
              </h2>
              <p>
                We reurn money within 30 days
              </p>
            </div><!-- text -->
          </div><!-- icon -->





        </div><!-- icons -->


      </div><!-- col-12 -->





    </div><!-- container2 -->

  </div> <!-- container -->
</div><!-- new arrival  -->